html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4 {
    color: transparent;
    background-image: linear-gradient(45deg, #031946, #2196F3);
    background-clip: text;
    -webkit-background-clip: text;
    line-height: 1.4;
}

h2 {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 24px;
}

p {
    line-height: 1.4;
}

a {
    display: block;
    position: relative;
    padding: 0.2em 0;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #031946;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

a:hover::after, a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

a:hover::after, a:focus::after {
    transform: scale(1);
}

/* Navigation */

nav {
    position: fixed;
    z-index: 1;
    background: white;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
}

.logo {
    float: left;
    display: flex;
    align-items: center;
    max-width: 100%;
    padding-left: 24px;
}

.logo img {
    display: block;
}

#logo-text {
    font-family: 'Jost', sans-serif;
    display: block;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1.5px;
}

.logo strong {
    font-weight: 600;
}

.navigation {
    display: flex;
    padding-right: 24px;
}

.navigation ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation li {
    margin-left: 16px;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

/* Header */

header {
    background: #e2effb;
    padding: 96px 24px 32px;
    max-width: 100%;
    display: inline-flex;
}

header .img-container {
    max-width: 60%;
}

header img {
    max-width: 100%;
}

.headline-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
}

h1 {
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1;
}

.headline-cta h5 {
    font-size: 1.6rem;
    line-height: 1.4;
    margin-bottom: 25px;
    font-weight: 400;
    max-width: 400px;
}

a.button-cta {
    display: block;
    max-width: 75%;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    color: white;
    background: #debd35;
    border: 2px solid transparent;
    font-size: 1.2rem;
    transition: all 0.3s ease-in;
}

a.button-cta:hover {
    color: black;
    background: white;
}

/* Information section */

#information {
    /* padding: 32px 24px; */
    display: inline-flex;
}

.main-info {
    max-width: 60%;
    padding: 32px 24px;
    border-right: 2px solid #f0f0f0;
}

.main-info img {
    width: 100%;
    margin-bottom: 32px;
}

img {
    max-width: 100%;
    height: auto;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 24px;
}

#information p {
    font-weight: 400;
    padding-right: 20px;
    margin-bottom: 8px;
    max-width: 90%;
}

.right-info {
    padding-top: 16px;
}

.infobox {
    display: flex;
    padding: 16px;
    border-bottom: 2px solid #f0f0f0;
    align-items: center;
    transition: all 0.7s ease;
}

.infobox:hover {
    background: #f0f0f0;
}

.infobox-img {
    max-width: 35%;
    height: auto;
}

.infobox.last {
    border-bottom: none;
}

.info-text {
    max-width: 60%;
    padding-left: 16px;
}

h4 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.info-text a {
    text-decoration: none;
    color: #0B73C5;
    max-width: 90px;
}

p.author {
    margin-top: 4%;
    opacity: 0.7;
    font-size: 0.9rem;
}

@media only screen and (min-width: 480px) {
    img.mobile-img {
        display: none;
    }
}

/* Courses section */

#courses {
    background: #f0f0f0;
    padding: 32px 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#courses h2 {
    margin-bottom: 12px;
}

.courses-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.course-box {
    max-width: 30%;
    margin: 16px;
    background: white;
    transition: all 0.25s ease;
}

.course-box:hover {
    cursor: pointer;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.content {
    padding: 16px;
}

p.category {
    text-transform: uppercase;
    margin-bottom: 8px;
}

/* Thesis section */

#thesis {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
}

#thesis h2 {
    margin-bottom: 0;
}

.all-thesis {
    display: inline-flex;
}

.main-thesis {
    max-width: 60%;
    padding: 32px 24px;
}

video {
    margin-bottom: 24px;
}

.right-thesis {
    padding-top: 16px;
}

#thesis .infobox {
    border: none;
}

#thesis .infobox:hover {
    cursor: pointer;
}

p.description {
    max-width: 95%;
}

/* Footer */

footer {
    border-top: 1px solid #f0f0f0;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
}

.bottom-links {
    display: flex;
}

footer a {
    text-decoration: none;
    margin-left: 8px;
    color: black;
}